body {
  width: 80%;
  margin-left: 10vw;
  border: .2vw solid lightgray;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #3274C1;
  border-radius: 1vw;
  display: flex;
  align-items: center;
}

h1 {
  color: #FFFFFF;
  font-weight: lighter;
  padding: 3vw;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 1.3em;
}

.submit {
  background-color: #3274C1;
  color: #FFFFFF;
  padding: 1vw;
  border-radius: 1vw;
  font-size: .7em;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

input {
  margin: 1vw;
  padding: 1vw;
}

select {
  margin: 1vw;
}

.submit-bg {
  background-color: #BDD5ED;
  padding: 3vw;
}

#user-language {
  height: 7vw;
}

#user-comment {
  padding-bottom: 10vw;
}
